<!-- navbar start here -->
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<!-- navbar-brand -->
		<a class="navbar-brand" href="/">
			<img src="images/logo/Website logo.jpg" class="w-100 main-logo" alt="Logo" title="Logo" style="height:70px; width:300px;margin-top: 20px;">
		</a>
		<!-- toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- navbar links -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav navbar-center m-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="categories">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact">Contact</a>
				</li>
			</ul>
			<!-- navbar right button -->
			<ul class="navbar-nav navbar-right">
				<li><a class="btn btn-link me-2" href="profile">
					<i class="fa-solid fa-upload me-2"></i>Upload Resume
				</a></li>
				<li><a class="btn btn-danger" href="register">Sign Up</a></li>
			</ul><!-- navbar right button end here -->
		</div><!-- navbar links -->
	</div>
</nav><!-- navbar -->
</header>
<!-- header -->