<!DOCTYPE html>
<html lang="en">
<head>
	<title>About Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<!-- Bootstrap 5.3 link -->
	<link href="/js/bootstrap5.3/css/bootstrap.min.css" rel="stylesheet">	
	<!-- Font-family -->	
	<link href="/font/raleway/style.css" rel="stylesheet">	
	<link href="/font/rubik/style.css" rel="stylesheet">
	<!-- Font-awesome link -->
	<link rel="stylesheet" type="text/css" href="/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="css/cursor.css">
</head>
<body>
<!-- header start here -->
<div id="header"></div>
<!-- header end here -->

<!-- cursor effect  -->
<div class="cursor"></div>
<div class="circle"></div>
<!-- cursor effect end  -->

<section class="aboutGoal">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 my-auto">
				<h1>Find Your Job And</h1>
				<h2 class="text-red">Make Sure Goal</h2>
				<form class="form-inline py-4" method="post">
					<div class="input-group mb-4 w-75">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" name="search" id="search" class="form-control" placeholder="Search by Skill,job and Company" value="" required>
						<input type="submit" name="searchbtn" class="btn btn-dark rounded-pill" id="searchBtn" value="Search">
					</div>
				</form>
			</div>
			<div class="col-sm-6 d-none d-md-block">
				<img class="w-100" src="images/about-us/Firs-banner.png" alt="Banner">
			</div>
		</div>
	</div>
</section>
<!-- /.aboutGoal end here -->

<nav class="topbreadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item"><a href="about">About us</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<!-- /. topbreadcrumb -->
<section class="overview">
	<div class="container-fluid">
		<div class="row">	
			<div class="col-sm-5 me-3 m-auto">
				<div class="overImg">
					<div class="img-card"><img class="w-100" src="images/about-us/Second-banner.png" alt="Banner"></div>
				</div>
			</div>
			<div class="col-sm-6 pt-md-5 mx-auto pt-sm-0">
				<h1>Company <span class="text-red">Overview</span></h1>
				<p class="pt-3">Job Loop is a leading online platform dedicated to connecting job seekers with employers. With a focus on efficiency, transparency, and innovation, we empower individuals to achieve their career aspirations by providing access to diverse job opportunities and resources. <br>

					Mission: Our mission is to facilitate successful matches between qualified candidates and employers, driving mutual growth and success. <br>
					
					Expertise: With years of experience in the recruitment industry, our team of industry experts brings a wealth of knowledge and expertise to the table, ensuring that our platform delivers results that exceed expectations. <br>
					
					</p>
				<div class="readmores">

					
					Partnerships: We collaborate with a network of industry partners to provide access to a wide range of opportunities and resources.
					
					Future Outlook: Committed to driving positive change in the recruitment landscape, we remain dedicated to innovation, customer satisfaction, and long-term growth.
					
					Join Job Loop today and take the next step towards achieving your career goals.
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.overview -->

<section class="interJob">
	<div class="container-fluid">
		<h1 class="pb-5">Why Choose <span class="text-red">Us ?</span></h1>
		<div class="row">	
			<div class="col-sm-3 mb-4">
				<div class="interinner">
					<div class="daimond-bg"><i class="fa fa-pie-chart" aria-hidden="true"></i></div>
					<h2 class="text-red">Trusted Quality</h2>
					<h4> Trust in Trusted Quality for all your needs, because excellence is our promise......</h4>
					<a href="javascript:void(0);">Read More</a>
				</div>
			</div>
			<div class="col-sm-3 mb-4">
				<div class="interinner">
					<div class="daimond-bg"><i class="fa fa-building" aria-hidden="true"></i></div>
					<h2 class="text-red">Top Companies</h2>
					<h4>Discover the leaders shaping industries and defining excellence .....</h4>
					<a href="javascript:void(0);">Read More</a>
				</div>
			</div>
			<div class="col-sm-3 mb-4">
				<div class="interinner">
					<div class="daimond-bg">
						<i class="fa-sharp fa-solid fa-money-bill-1"></i>
					</div>
					<h2 class="text-red">No Extra Charges</h2>
					<h4> You can rely on us to connect you with the perfect match without any hidden fees.....</h4>
					<a href="javascript:void(0);">Read More</a>
				</div>
			</div>
			<div class="col-sm-3 mb-4">
				<div class="interinner">
					<div class="daimond-bg"><i class="fa fa-user" aria-hidden="true"></i></div>
					<h2 class="text-red">International Job</h2>
					<h4> Join our global community today and take the next step towards your international career journey......</h4>
					<a href="javascript:void(0);">Read More</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.interJob -->

<section class="valPart">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<div class="valinner">
					<i class="fa fa-user" aria-hidden="true"></i>
					<h1 class="text-red">19K +</h1>
					<h4>Job Available</h4>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="valinner"> 
				<i class="fa-sharp fa-solid fa-pen-to-square"></i>
					<h1 class="text-red">15K +</h1>
					<h4>CV Submited</h4>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="valinner">
					<i class="fa fa-building" aria-hidden="true"></i>
					<h1 class="text-red">11K +</h1>
					<h4>Companies</h4>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="valinner">
					<i class="fa fa-user" aria-hidden="true"></i>
					<h1 class="text-red">35 +</h1>
					<h4>Appointed To Job</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="bgnumber"></div>
</section>
<!-- /. valPart -->

<section class="meetTeam">
	<div class="container-fluid">
		<h1>Meet Our <span class="text-red">Team</span></h1>
		<h4> Get in touch with us today to learn how we can support you in achieving your career goals</h4>
		<div class="row">
			<div class="col-sm-3 mb-4">
				<div class="teams">
					<a href="javascript:void(0);"><img src="images/about-us/member1.png" alt="Team" class="teamimage w-100"></a>
					<div class="overlay">
						<ul class="icons list-inline">
							<li class="list-inline-item">
								<a href="javascript:void(0);">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<h3><a href="javascript:void(0);">Belinda</a></h3>
				<h4>Web Developer</h4>
			</div>
			
			<div class="col-sm-3 mb-4">
				<div class="teams">
					<a href="javascript:void(0);"><img src="images/about-us/memeber2.png" alt="Team" class="teamimage w-100"></a>
					<div class="overlay">
						<ul class="icons list-inline">
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<h3><a href="javascript:void(0);">Cristian</a></h3>
				<h4>Creative Director</h4>
			</div>
			
			<div class="col-sm-3 mb-4">
				<div class="teams">
					<a href="javascript:void(0);"><img src="images/about-us/member3.png" alt="Team" class="teamimage w-100"></a>
					<div class="overlay">
						<ul class="icons list-inline">
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<h3><a href="javascript:void(0);">Robert</a></h3>
				<h4>Office Manager</h4>
			</div>
			
			<div class="col-sm-3 mb-4">
				<div class="teams">
					<a href="javascript:void(0);"><img src="images/about-us/member4.png" alt="Team" class="teamimage w-100"></a>
					<div class="overlay">
						<ul class="icons list-inline">
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<h3><a href="javascript:void(0);">Tony Teo</a></h3>
				<h4>Support Manager</h4>
			</div>
		</div>
		
		<div class="row ptMeet">
			<div class="col-sm-3 mb-4">
				<div class="teams">
					<a href="javascript:void(0);"><img src="images/about-us/member5.png" alt="Team" class="teamimage w-100"></a>
					<div class="overlay">
						<ul class="icons list-inline">
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<h3><a href="javascript:void(0);">Belinda</a></h3>
				<h4>Web Developer</h4>
			</div>
			
			<div class="col-sm-3 mb-4">
				<div class="teams">
					<a href="javascript:void(0);"><img src="images/about-us/member6.png" alt="Team" class="teamimage w-100"></a>
					<div class="overlay">
						<ul class="icons list-inline">
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<h3><a href="javascript:void(0);">Cristian</a></h3>
				<h4>Creative Director</h4>
			</div>
			
			<div class="col-sm-3 mb-4">
				<div class="teams">
					<a href="javascript:void(0);"><img src="images/about-us/member7.png" alt="Team" class="teamimage w-100"></a>
					<div class="overlay">
						<ul class="icons list-inline">
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<h3><a href="javascript:void(0);">Robert</a></h3>
				<h4>Office Manager</h4>
			</div>
			
			<div class="col-sm-3 mb-4">
				<div class="teams">
					<a href="javascript:void(0);"><img src="images/about-us/member8.png" alt="Team" class="teamimage w-100"></a>
					<div class="overlay">
						<ul class="icons list-inline">
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<h3><a href="javascript:void(0);">Tony Teo</a></h3>
				<h4>Support Manager</h4>
			</div>
		</div>
	</div>
</section>
<!-- /. meetTeam -->

<!-- footer area start -->
<div id="footer"></div>
<!-- footer area end -->

<!-- Js Links -->
<script src="/js/bootstrap5.3/js/popper.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap5.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/common.js"></script>
<script src="js/cursor.js"></script>
</body>
</html>