<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<!-- Bootstrap 5.3 link -->
	<link href="/js/bootstrap5.3/css/bootstrap.min.css" rel="stylesheet">	
	<!-- Font-family -->	
	<link href="/font/raleway/style.css" rel="stylesheet">	
	<link href="/font/rubik/style.css" rel="stylesheet">
	<!-- Font-awesome link -->
	<link rel="stylesheet" type="text/css" href="/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="css/cursor.css">
</head>
<body>
<!-- header start here -->
<header id="header">
<!-- navbar start here -->
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<!-- navbar-brand -->
		<a class="navbar-brand" href="home">
			<img src="images/logo/Website logo.jpg" class="w-100 main-logo" alt="Logo" title="Logo" style="height:70px; width:300px;margin-top: 20px;">
		</a>
		<!-- toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- navbar links -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav navbar-center m-auto">
				<li class="nav-item active">
					<a class="nav-link" href="home">Home </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="categories">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about-us">About Us</a>
				</li>
				<li class="nav-item drop-down">
					<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">Pages</a>
					<!-- Mega-menu -->
					<div class="mega-menu fadeIn animated dropdown-menu">
						<div class="row">
							<div class="col-sm-3 border-right">
								<ul class="list-unstyled">
									<li><a class="dropdown-item" href="company-register">Company Register</a></li>
									<li><a class="dropdown-item" href="employer-login">Employer Login</a></li>
									<li><a class="dropdown-item" href="company-listing">Company Listing</a></li>
									<li><a class="dropdown-item" href="company-details">Company Details</a></li>
									<li><a class="dropdown-item" href="post-job">Post Job</a></li>
								</ul>
							</div>
							<div class="col-sm-3 border-right">
								<ul class="list-unstyled">
									<li><a class="dropdown-item" href="job-listing">Job Listing</a></li>
									<li><a class="dropdown-item" href="job-details">Job Details</a></li>
									<li><a class="dropdown-item" href="candidate-listing">Candidate Listing</a></li>
									<li><a class="dropdown-item" href="candidate-details">Candidate Details</a></li>
									<li><a class="dropdown-item" href="profile">Profile</a></li>
								</ul>
							</div>
							<div class="col-sm-3 border-right">
								<ul class="list-unstyled">
									<li><a class="dropdown-item" href="pricing">Pricing</a></li>
									<li><a class="dropdown-item" href="register">Register</a></li>
									<li><a class="dropdown-item" href="forgot-password">Forgot Password</a></li>
									<li><a class="dropdown-item" href="login">Login</a></li>
									<li><a class="dropdown-item" href="faq">Faq</a></li>
								</ul>
							</div>
							<div class="col-sm-3">
								<ul class="list-unstyled">
									<li><a class="dropdown-item" href="not-found">Not Found</a></li>
									<li><a class="dropdown-item" href="term-conditions">Term Conditions</a></li>
								</ul>
							</div>
						</div>
					</div><!-- /. mega-menu -->
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact-us">Contact</a>
				</li>
			</ul>
			<!-- navbar right button -->
			<ul class="navbar-nav navbar-right">
				<li><a class="btn btn-link me-2" href="profile">
					<i class="fa-solid fa-upload me-2"></i>Upload Resume
				</a></li>
				<li><a class="btn btn-danger" href="register">Sign Up</a></li>
			</ul><!-- navbar right button end here -->
		</div><!-- navbar links -->
	</div>
</nav><!-- navbar -->
</header>
<!-- header -->

<!-- cursor effect  -->
<div class="cursor"></div>
<div class="circle"></div>
<!-- cursor effect end  -->

<section class="nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="images/contact-us/banner.png" alt="Banner" >
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<section class="contacts">
	<div class="container">
		<div class="row">	
			<div class="col-sm-4 mb-4">
				<a href="javascript:void(0);">
					<div class="contInner">
						<i class="fa fa-map" aria-hidden="true"></i>
						<h4>Address</h4>
						<p>019 Hilltown Street, INDIA.</p>
					</div>
				</a>
			</div>
			<div class="col-sm-4 mb-4">
				<a href="javascript:void(0);">
					<div class="contInner">
						<i class="fa fa-envelope-open" aria-hidden="true"></i>
						<h4>E-mail</h4>
						<p>contact.info@jobloop.com</p>
					</div>
				</a>
			</div>
			<div class="col-sm-4 mb-4">
				<a href="javascript:void(0);">
					<div class="contInner">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<h4>Phone Number</h4>
						<p class="f_rubik">+91-9827649922</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- /. contacts -->

<section class="contactForm">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<p>Have A Question ?</p> 
				<h3>Get in <span class="text-red">Touch Now?</span></h3>
				
				<form class="form" method="post">
					<div class="row">
						<div class="col-sm-6 form-group">
							<input type="text" name="username" id="username" class="form-control" placeholder="User Name" value="" required>
						</div>
						<div class="col-sm-6 form-group">
							<input type="email" name="email" id="email" class="form-control" placeholder="Email Address" value="" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" value="" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" name="write" class="form-control" placeholder="Write your Message" value="" required >
						</div>
					</div>
					<div class="row">
						<div class="mb-3">
							<div class="checkbox">
								<input type="checkbox" name="accept" class="form-check-input" id="accept" required>
								<label class="form-check-label" for="accept">Accept Term & privacy Policy</label>
							</div>
							  
							<input type="submit" name="submit" id="sendMsg" class="btn btn-danger rounded-pill" value="Send Message" >
						</div>
					</div>	
				</form>
			</div>
		</div>
	</div>
</section>
<!-- /. contactForm -->

<div class="contactMap">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29370.770471798813!2d72.6318395983535!3d23.04776197599827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e86d53c2ed683%3A0x161958a4f45e809a!2sNikol%2C%20Ahmedabad%2C%20Gujarat%20380038!5e0!3m2!1sen!2sin!4v1709310022271!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

<!-- intro -->
<div class="intro">
	<div class="way-success"></div>
	<div class="caption">
		<div class="way-inner">
			<h3>WAY TO SUCCESS</h3>
		</div>
	</div>
	<span class="overlay">
		<svg viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
		<path fill="#282b4a" d="M 250 180.5 c -53.85 0 -135.344 -30.044 -250 -165.633 V 262 h 500 V 15.867 C 405.344 180.456 280.85 180.5 250 180.5 Z"/>
		</svg>
	</span>
</div>

<!-- footer start here -->
<footer id="footer">
	<!-- <svg viewBox="0 0 1440 250">
	  <path fill="#fff" fill-opacity="1" d="M0,96L120,122.7C240,149,480,203,720,202.7C960,203,1200,149,1320,122.7L1440,96L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
	</svg> -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<a href="home">
					<img src="images/logo/Website logo.jpg" alt="Logo" title="Logo">
				</a>
				<div class="footer_inner">
					<p class="w-90">Welcome to Joob Loop, your go-to destination for finding the perfect job opportunity. We connect talented individuals with top employers, making job hunting easier and more efficient.
					</p>
				</div>
			</div>
			<div class="col-sm-2 mx-auto">
				<h5>Usefull Links</h5>
				<div class="footer_inner">
					<ul class="list-unstyled">
						<li><a href="about-us">About Us</a></li>
						<li><a href="contact-us">Contact Us</a></li>
						<li><a href="javascript:void(0);">Services</a></li>
						<li><a href="javascript:void(0);">News & Blog </a></li>
						<li><a href="javascript:void(0);">Our features</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<h5>Contact Us</h5>
				<div class="footer_inner">
					<div class="d-flex media">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<div class="media-body"><p> <span class="f_rubik">019,</span> Hilltown Road, New Delhi <br> INDIA <span class="f_rubik">382350</span> </p></div>
					</div>
					<div class="d-flex media">
						<i class="fa-regular fa-envelope"></i>
						<div class="media-body"><p>info@jobloop.com</p></div>
					</div>
					<div class="d-flex media">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<div class="media-body"><p class="f_rubik">+91-9827649922</p></div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<h5>Get In Touch</h5>
				<div class="footer_inner">
					<form class="form-inline valid" method="post">
						<div class="input-group mb-4">
								<input type="email" name="email" class="form-control" id="email" 	placeholder="E-mail Address" value="" required>
								<button class="btn btn-white" name="submit" type="submit" id="submit">
									<i class="fa-regular fa-paper-plane"></i>
								</button>
						</div>
					</form>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void(0);"> 
						<i class="fa-brands fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<p>&copy; 2024 Joob Loop. All rights reserved.</p>
		<ul>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms of Service</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
</footer>
<!-- footer end here -->
<!-- Js Links -->
<script src="/js/bootstrap5.3/js/popper.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap5.3/js/bootstrap.bundle.min.js"></script>
<script src="js/cursor.js"></script>
</body>
</html>