<!DOCTYPE html>
<html lang="en">
<head>
	<title>Faq</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<!-- Bootstrap 5.3 link -->
	<link href="/js/bootstrap5.3/css/bootstrap.min.css" rel="stylesheet">	
	<!-- Font-family -->	
	<link href="/font/raleway/style.css" rel="stylesheet">	
	<link href="/font/rubik/style.css" rel="stylesheet">
	<!-- Font-awesome link -->
	<link rel="stylesheet" type="text/css" href="/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="css/cursor.css">
</head>
<body>
<!-- header start here -->
<div id="header"></div>
<!-- header end here -->

<!-- cursor effect  -->
<div class="cursor"></div>
<div class="circle"></div>
<!-- cursor effect end  -->

<section class="nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="images/categories/banner.png" alt="Banner">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<section class="frequently">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center pb-5">Frequently Asked <span class="text-red"> Questions</span></h3>
				<div id="accordion">
					<div class="accordion-item">
						<div class="accordion-header" id="heading-1">
						<h5 class="mb-0">
							<a role="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
								How do I create an account on the job portal?
							</a>
						</h5>
						</div>
						<div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion" aria-labelledby="heading-1">
							<div class="accordion-body">
								<p>To create an account, simply click on the "Sign Up" or "Register" button on the homepage and fill out the required information, including your name, email address, and password. Once registered, you can start exploring job listings and applying for positions.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header" id="heading-2">
						<h5 class="mb-0">
							<a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
								How do I search for jobs on the website?
							</a>
						</h5>
						</div>
						<div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion" aria-labelledby="heading-2">
							<div class="accordion-body">
								<p>You can search for jobs by entering keywords, location, job category, or company name in the search bar on the homepage. Additionally, you can use filters to narrow down your search results based on criteria such as salary range, job type, and experience level.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header" id="heading-3">
						<h5 class="mb-0">
							<a class="collapsed" role="button"  data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
								Can I upload my resume?
							</a>
						</h5>
						</div>
						<div id="collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordion" aria-labelledby="heading-3">
							<div class="accordion-body">
								<p>Explain how users can upload their resumes to the platform, including supported file formats and any additional information they may need to provide.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header" id="heading-4">
						<h5 class="mb-0">
							<a class="collapsed" role="button"  data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
								Is there a fee for using the job portal?
							</a>
						</h5>
						</div>
						<div id="collapse-4" class="accordion-collapse collapse" data-bs-parent="#accordion" aria-labelledby="heading-4">
							<div class="accordion-body">
								<p>Our job portal is free for job seekers to use. There are no fees associated with creating an account, searching for jobs, or applying for positions. However, some premium features or services may be available for a fee.</p>
							</div>
						</div>
					</div>	
					<div class="accordion-item">
						<div class="accordion-header" id="heading-5">
						<h5 class="mb-0">
							<a class="collapsed" role="button"  data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
								How can I contact customer support for assistance?
							</a>
						</h5>
						</div>
						<div id="collapse-5" class="accordion-collapse collapse" data-bs-parent="#accordion" aria-labelledby="heading-5">
							<div class="accordion-body">
								<p>If you need help or have questions about using the job portal, you can contact our customer support team by emailing info@jobloop.com or filling out the contact form on the website. We'll be happy to assist you with any issues or inquiries you may have.</p>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. frequently -->

<section class="stillGot">
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-sm-8 mx-auto">
				<h4 class="text-secondary">Contact Us</h4>
				<h3>Still Got <span class="text-red"> Questions?</span></h3>
				<p> Our customer support team is here to help! You can contact us by emailing info@jobloop.com or by filling out the contact form on our website. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9">
				<form method="post">
					<div class="row">
						<div class="col-sm-6 form-group">
							<input type="text" name="username" class="form-control" id="username" placeholder="Name" value="" required>
						</div>
						<div class="col-sm-6 form-group">
							<input type="email" name="email" class="form-control" id="e_mail" placeholder="Email address" value="" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<textarea class="form-control" name="message" rows="12" placeholder="Your Message" required></textarea>
						</div>
					</div>
					<div class="row pt-4">
						<div class="col-sm-12 form-group">
							<button type="submit" name="submit" class="btn btn-danger rounded-1" id="sendMsg">
								<span class="me-2">Send Message</span><i class="fa fa-paper-plane " aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</form>
			</div><!-- grid column 9 -->
			<div class="col-sm-3">
				<div class="row">
					<div class="col-sm-12">
						<div class="jobImage rounded-lg">
							<div class="image-card">
								<img class="w-100" src="images/faq/still-right.png" alt="Job">
							</div>
							<div class="still-text">
								<h2>TRUST <br> THE <br> <span class="text-red">PROFESSIONALS</span></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. stillGot -->

<!-- footer area start -->
<div id="footer"></div>
<!-- footer area end -->

<!-- Js Links -->
<script src="/js/bootstrap5.3/js/popper.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap5.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/common.js"></script>
<script src="js/cursor.js"></script>
</body>
</html>