<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<!-- Bootstrap 5.3 link -->
	<link href="/js/bootstrap5.3/css/bootstrap.min.css" rel="stylesheet">	
	<!-- Font-family -->	
	<link href="/font/raleway/style.css" rel="stylesheet">	
	<link href="/font/rubik/style.css" rel="stylesheet">
	<!-- Font-awesome link -->
	<link rel="stylesheet" type="text/css" href="/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="css/cursor.css">
</head>
<body>
<!-- header start here -->
<div id="header"></div>
<!-- header end here -->

<!-- cursor effect  -->
<div class="cursor"></div>
<div class="circle"></div>
<!-- cursor effect end  -->

<section class="nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="images/contact-us/banner.png" alt="Banner" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<section class="loginForm">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 mx-auto">	
				<form method="post" action="/login">
					<h3 class="text-center">LOGIN</h3>
					<div class="latestForm">
						<!-- user input -->
						<div class="form-group"> 
							<input type="email" name="email" id="userName" class="form-control" value="" required> 
							<label class="form-control-placeholder" for="userName">Email</label>
							<i class="fa fa-user iconSet" aria-hidden="true"></i>
						</div>
						<!-- password input -->
						<div class="form-group"> 
							<input type="password" name="password" id="password" class="form-control" value="" required> 
							<label class="form-control-placeholder" for="password">Password</label> 
							<i class="fa fa-lock iconSet" aria-hidden="true"></i>
						</div> 
					</div> 
					<!-- /. latestForm -->
					<!-- 2 column grid layout for inline styling -->
					<div class="row my-4">
						<div class="col d-flex justify-content-left">
							<!-- Checkbox -->
							<div class="checkbox m-0">
								<input type="checkbox" name="savepassword" class="form-check-input" id="savePwd" checked required>
								<label class="form-check-label p-1" for="savePwd">Save Password</label>
							</div>
						</div>

						<div class="col text-end">
						  <!-- Simple link -->
						  <a class="forgotPwd" href="forgot-password">Forgot password?</a>
						</div>
					</div>

					<!-- Submit button -->
					<div class="d-grid">
					<input type="submit" name="submit" class="btn btn-danger" id="login" value="LOGIN">
					</div>
					<!-- Register buttons -->
					<div class="text-center">
						<p>Have't Any Account Yet? <a class="clickHere" href="register">Click Here</a></p>
						<p>or</p>
						<p>Login With Social</p>
						<a href="javascript:void(0);" class="btn btn-danger btn-floating rounded-pill mx-2">
						  <i class="fa fa-google me-1"></i> Google
						</a>
						<a href="javascript:void(0);" class="btn btn-primary rounded-pill btn-floating mx-2">
						  <i class="fa fa-facebook me-1"></i> Facebook
						</a>
						<a href="javascript:void(0);" class="btn btn-info rounded-pill btn-floating text-white mx-2">
						  <i class="fa fa-twitter me-1"></i> Twitter
						</a>
					</div>
				</form>			
			</div>
		</div>
	</div>
</section>
<!-- /. contactForm -->



<!-- footer area start -->
<div id="footer"></div>
<!-- footer area end -->

<!-- Js Links -->
<script src="/js/bootstrap5.3/js/popper.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap5.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/common.js"></script>
<script src="js/cursor.js"></script>
</body>
</html>