<!DOCTYPE html>
<html lang="en">
<head>
	<title>Term Conditions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Stylesheet -->	
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<!-- Bootstrap 5.3 link -->
	<link href="/js/bootstrap5.3/css/bootstrap.min.css" rel="stylesheet">	
	<!-- Font-family -->	
	<link href="/font/raleway/style.css" rel="stylesheet">	
	<link href="/font/rubik/style.css" rel="stylesheet">
	<!-- Font-awesome link -->
	<link rel="stylesheet" type="text/css" href="/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="css/cursor.css">
</head>
<body>
<!-- header start here -->
<div id="header"></div>
<!-- header end here -->

<!-- cursor effect  -->
<div class="cursor"></div>
<div class="circle"></div>
<!-- cursor effect end  -->

<section class="nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="images/contact-us/banner.png" alt="Banner" >
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<section class="terms">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h4><span class="f_rubik">1.</span> What is Term & Conditions?</h4>
				<p>Terms and conditions (often abbreviated as T&C or T&C's) refer to the rules and guidelines that users must agree to abide by when using a particular service, website, or product. These terms outline the rights and responsibilities of both the provider and the user, covering various aspects such as usage rights, limitations, warranties, disclaimers, and dispute resolution procedures.

					In the context of a website or online service, terms and conditions typically include information about user registration, account usage, privacy policies, copyright and intellectual property rights, payment terms (if applicable), termination clauses, and other legal details that govern the use of the platform.
					
					Users are usually required to accept the terms and conditions before they can access or use the service. Failure to comply with these terms can result in penalties, account suspension, or legal action, depending on the severity of the violation.
					
					It's important for users to carefully read and understand the terms and conditions before agreeing to them, as they constitute a legally binding agreement between the user and the service provider.</p>
				<h4><span class="f_rubik">2.</span> How do we apply our Terms & Conditions?</h4>
				<p>Drafting: Begin by drafting clear and comprehensive terms and conditions that cover all relevant aspects of your service, product, or website. Consult with legal experts to ensure that your terms are legally enforceable and comply with relevant laws and regulations.

					Presentation: Make the terms and conditions easily accessible to users. Typically, this involves displaying them prominently on your website or app and requiring users to agree to them before using your service or making a purchase. This can be done through a checkbox or button that users must click to indicate their acceptance.
					
					Notification: Notify users of any changes or updates to the terms and conditions. This can be done through email notifications, pop-up messages on your website, or prominently displaying the updated terms when users log in.</p>
				<h4><span class="f_rubik">3.</span> How do we apply our Terms & Conditions?</h4>
				<p>Consent: Obtain explicit consent from users to indicate their agreement to the terms and conditions. This is typically done by requiring users to actively agree to the terms, such as by checking a box or clicking a button labeled "I agree."

					Record-Keeping: Keep records of user acceptance of the terms and conditions. This may include storing electronic records of user agreements, timestamps of when users agreed to the terms, and any relevant communication related to the terms and conditions.
					
					Enforcement: Enforce the terms and conditions consistently and fairly. If users violate the terms, take appropriate action according to the consequences outlined in the terms, such as suspending or terminating their account.</p>
				<h4><span class="f_rubik">4.</span> Lorem ipsum dolor sit amet, consectetur.</h4>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed  do eiusmod tempor incididunt.</li>
					<li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</li>
					<li>Your browsing behaviour on the website such as information on your first visit</li>
					<li>Whether you open a newsletter of email and what sections you select.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /. contacts -->

<!-- footer area start -->
<div id="footer"></div>
<!-- footer area end -->

<!-- Js Links -->
<script src="/js/bootstrap5.3/js/popper.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap5.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/common.js"></script>
<script src="js/cursor.js"></script>
</body>
</html>